@model Soundche.Core.Domain.Playlist
@{
    ViewBag.Title = "AddPlaylist";
}

<div>
    <h2>
        Add New Playlist
    </h2>
</div>

<div>
    <!-- This div is essential. Otherwise it doesn't work lmao-->
    @using (@Html.BeginForm())
    {
        @Html.ValidationSummary();
        @Html.TextBoxFor(playlist => playlist.Name, new { @class = "form-control", placeholder = " Playlist name" });
        <button class="btn btn-success" type="submit">Create Playlist</button>

        @for (int i = 0; i < (Model.Tracks is null ? 0 : Model.Tracks.Count); i++)
        {
            @Html.TextAreaFor(playlist => playlist.Tracks[i].Name);

            @Html.CheckBoxFor(playlist => playlist.Tracks[i].Exclude);
            /*Excludes the song from being played, useful fx. when a song has been removed from YT, but you dont want it erased from the playlist*/
        }
    }
</div>

<!-- TODO: Search on: MVC Edit a variable length list view !!!!!!!!!!! Maybe I should just do post/get and have each Track be a partial view?s -->
<!-- TODO: Need some JS to change the view whenever I add/remove a song... BELOW -->
<!-- TODO: All of it needs to be repackaged for a partial view at some point. -->
<!-- http://ivanz.com/2011/06/16/editing-variable-length-reorderable-collections-in-asp-net-mvc-part-1/ -->
<!-- http://blog.stevensanderson.com/2010/01/28/editing-a-variable-length-list-aspnet-mvc-2-style/ -->