@model Soundche.Core.Domain.Track
@using HtmlHelpers.BeginCollectionItemCore

<div class="editorRow">
    @using (Html.BeginCollectionItem("tracks"))
    {
        @Html.TextArea("", "", new { id = "yturl" })

        @Html.ValidationMessageFor(track => track.Name);
        @Html.LabelFor(track => track.Name)
        <!-- The name loaded by youtube. Maybe we don't need this field at all ?? -->

        @Html.CheckBoxFor(track => track.Exclude)
        <!--Excludes the song from being played, useful fx. when a song has been removed from YT, but you dont want it erased from the playlist-->

        <!-- TODO Add edit page -->
        <!-- TODO Prettify the view and make partial -->
        <!-- TODO Add error validation with [Required] and such -->
        <!-- TODO LOAD VIDEO NAME IN WITH YT CALL (EMILS CODE) JQUERY -->
        <!-- TODO ENSURE I HAVE HIDDEN FIELDS FOR ALL MY VALUES -->

        @Html.HiddenFor(track => track.YoutubeId, new { id = "ytid2" }) <!-- need this to ensure my value actually posts properly, even though it ought to be bound in the line below, but whatever -->
        @Html.LabelFor(track => track.YoutubeId, Model.YoutubeId, new { id = "ytid" })
        <div>
            <span>
                <span class="smolBtn">
                    <a href="#" class="deleteRow">X</a>
                </span>

                <span class="smolBtn">
                    <a href="#" class="moveUp">UP</a>
                </span>

                <span class="smolBtn">
                    <a href="#" class="moveDown">DOWN</a>
                </span>
            </span>
        </div>

        @Html.Label("", "", new { id = "successlabel" })
    }
</div>